
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html{
    
        scroll-behavior: smooth;
}
body{
    
     min-height:900px;
    font-family: 'Poppins', sans-serif;
    background-image: url(/img/lofi.jpg);
}


.container{

    width: 95%;
    max-width: 1200px;
    justify-content: space-around;
    display: flex;
    margin: auto;
    align-items: center;

}

    

nav #icon{
    color: #fff;
    font-size: 30px;
    float: right;
    margin-right: 40px;
    line-height: 60px;
    cursor: pointer;
    display: none;

}
nav{

    height: 70px;
    width: 100%;
    
}
nav ul{
    
    float: right;
    margin-right: 40px;
}
nav li{

    display: inline-block;
    margin: 0 8px;
line-height: 65px;

    
}
nav a{
    
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    font-size: 17px;

}



header{
    padding: 48px;
    height: auto;

}
.lamp{
margin-top: 50px;
    display: inline-block;
    object-fit: cover;
    height: 344px;
}
.light{
    opacity: 0;
    transition: opacity 0.4;
    margin-left: -33px;
    margin-top: 0px;
    display: inline-block;
    object-fit: cover;
    height: 144px;
}
.textos{
    
    margin-top: 74px;
    width: 100%;
}
.textos h1{
    font-size: 80px;
    color: #fff;
}
.marg{
    margin-left: 64px;
    color: #fff;
    margin-top: -34px;
    position: absolute;
}
.img_m{
    
    margin-left: 23px;
    margin-top:13px;
}
a.active, a:hover{
    border:none;
}
.textos h2{
    color: #fff;
    font-size: 30px;
}
.textos a{
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    width: 150px;
    padding: 10px 0;
    border-radius: 9px;
}
@media screen and (max-width:1000px) {
    .lamp{
        height: 244px;
    }
    .light{
        height: 110px;
    }
    nav ul{
        margin-right: 20px;
    }
    
    nav a{
        font-size: 13px;
    }
    section{
        flex-direction: column-reverse;
        align-items: center;
    }
    section > img{
height: 250px;
    }
    .contenedor-texto{
        text-align: center;
    }
    
}
nav ul li a:hover{
    border-bottom: 2px solid #fff;

}
.marg:hover{
    border-bottom: 2px solid #fff;

}
.marg{
    cursor: pointer;
}

    
    
    .contenedor-texto{
        text-align: center;
    }
    


section:nth-child(2){
    
    background-image: url(/img/maxresdefault\ \(6\).jpg);

}
section:nth-child(3){
    background-image: url(/img/maxresdefault\ \(2\).jpg);
    
}
section:nth-child(5){
    
    background-image: url(/img/dos.jpg)
    }
    section:nth-child(4){
   
        background-image:url(/img/cuatro.jpg)
        }
        
    
    

@media screen and (max-width:800px) {
    .lamp{
        height: 244px;
    }
    .textos h1{
        font-size: 70px;
    }
    .textos h2{
        font-size: 25px;
    }
    nav #icon{
           
        display: block;
        
        }
        a.active, a:hover{
        
            border: none;
            color: #fff;
        }

        nav ul{  
        
        background: #333;
           top: 80px;
           height: 100vh;
           position: fixed;
           width: 100%;
           margin-right: 40px;
           left: -100%;
           text-align: center;
           transition: all 0.5s;
       }
       nav li{
           
           margin: 50px 0;
           line-height: 30px;
         display: block;
       }
       nav a{
         color: #fff;
           font-size: 15px;
       }
       nav ul.show{
           
        left: 0;
       }
    
}
@media screen and (max-width:700px) {
    .lamp{
        height: 224px;
    }
    .textos h1{
        font-size: 40px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}
@media screen and (max-width:600px){
    section > img{
        height: 30%;
    }
    
}
@media screen and (max-width:450px) {
    .container{
        width: 100%;
        text-align: center;
        flex-wrap: wrap-reverse;
        
    }
    .light{
    margin-left: -6px;
        display: flex;
    }
    
   
    
    .textos{
        text-align: center;
        width: 100%;
    }
    .textos h1{
        font-size: 55px;
    }
    
}
@media screen and (max-width:340px) {
    .lamp{
        height: 164px;
    }
    .light{
        height: 110px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos h2{
        font-size: 15px;
    }
    .textos a{
        width: 120px;
    }
    .contenedor-texto h2{
        font-family: 'Poppins' sans-serif;
    }

    
}
.logo{
    animation:  float 6s ease-in-out infinite;
    color: #fff;
    position: absolute;
    margin-left: -25px;
    height: 43px;
}
.logo:hover{
    border-bottom: 2px solid #fff;
}
button{
    
   margin-top: 9px;
    cursor: pointer;
    margin-left: 158px;
    height: 30px;
    width: 60px;
    border-radius: 40px;
    border: 0;
    outline: 0;
transition:  background 0.5s;
}
button span{
    margin-left: 2px;
    display: block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: rgb(173, 157, 157);
    transition: background 0.5s, margin-left 0.5s;
}

.active span{
    color: #fff;
    margin-left: 26px;

}
.on{
    opacity: 1;
}
@keyframes float{
    0%{
        box-shadow: 0px 5px 15px 0px rgba(0 , 0, 0, 0,6);
        transform: translateY(0px); 
    }
    50%{
        box-shadow: 0px 15px 25px 0px rgba(0 , 0, 0, 0,2);
        transform: translateY(-20px); 
    }
    100%{
        box-shadow: 0px 15px 25px 0px rgba(0 , 0, 0, 0,6);
        transform: translateY(0px); 
    }
}

.cards{
      display: grid;
    grid-template-columns: repeat(auto-fit,minmax(162px,1fr));
    padding: 35px;
    grid-gap: 20px;
}

.card{

    cursor: pointer;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(98, 83, 83, 0.18);
}
.cards .card:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0 , 0, 0, 0,2);
border: #2bdce3;

}
.containerf{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.hg{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.containerf:after{
    content: "";
    height: 10%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.logog{
    margin: 45px;
    margin-top: 18px;
    font-size: 28px;
    margin-left: 48PX;
position: relative;
    color: #fff;
}
.card1>.containerf:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.containerf:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.containerf:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.imf img{
    margin-top: -80px;
    border-radius: 10px;
 width: 23px;
   position: absolute;
   margin-left: 134px;
}
.logito{
    
    position: relative;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 9px;
    margin-left: 34px;
    height: 36px;
    width: 150px;
    border: 2px solid;
    color: #fff;
    text-align: center;
    margin-top: -23px;
}
.logu{
    margin-left: 34px;
    height: 32px;
    position: absolute;
}
section{
    align-items: center;
    padding: 0 40px;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
}
    section h2{
        font-family: 'Press Start 2P', cursive;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    section p{
        
        color: #fff;
        font-weight: 300;
        margin-bottom: 15px;
    }
    section a{
        
        display: inline-block;
        padding: 7px 0;
        width: 100px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 9px;

    }
    .th{
        height: 240px;
    }













